.wrapper {
  overflow: hidden;
  width: 600px;
}


.items {
  display: flex;
  position: relative;
  height: 300px;
  padding: 0px;
  margin: auto;
  list-style-type: none;
  transition: transform 0.5s ease;
}

.no-transition {
  transition: none;
}

.buttons {
  display: flex;
  gap: 2rem;
  width: 100px;
  margin: 20px auto;
}

.slide {
  flex: 0 0 33.33%;
  max-width: 100%;
  height: 100%;
}

.showing {
  opacity: 1;
  display: block;
}

.next {
  animation: next 1s ease-in-out 0s 1 normal forwards;
  opacity: 1;
  display: block;
  z-index: 1;
}

.prev {
  animation: prev 1s ease-in-out 0s 1 normal backwards;
  opacity: 1;
  display: block;
  z-index: 1;
}

@keyframes prev {
  0% {
    transform: translate(0%, 0%);
    visibility: visible;
  }

  100% {
    transform: translate(100%, 0%);
    /* visibility: hidden; */
  }
}

@keyframes next {
  0% {
    transform: translate(0%, 0%);
    /* visibility: visible; */
    display: block;
  }

  100% {
    transform: translate(-100%, 0%);
    /* visibility: hidden; */
    display: none;
  }
}

.slide {
  font-size: 40px;
  padding: 40px;
  box-sizing: border-box;
  background: #333;
  color: #fff;
}

.red {
  background: red;
}

.orange {
  background: orange;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.purple {
  background: purple;
}

.darkcyan {
  background: darkcyan;
}

.gray {
  background: gray;
}